.navbar {
  box-shadow: none !important; /* Remove the default shadow for a cleaner look */
  background-color: transparent !important; /* Remove the default background color */
  height: 60px; /* Adjust height to make the AppBar skinnier */
  position: static; /* Remove fixed positioning */
  z-index: 10; /* Ensure the navbar is on top */
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Distribute space between brand and buttons */
  align-items: bottom; /* Center align items vertically */
  height: 100%; /* Ensure Toolbar fills the AppBar height */
}

.navbar-brand {
  font-family: 'cmu_serifroman', serif !important; /* Change font family */
  font-weight: bold; /* Add bold font weight */
  text-transform: none !important; /* Remove uppercase transformation */
  transition: filter 0.3s ease; /* Smooth transition for blur effect */
}

.brand-dot {
  color: rgb(255, 153, 0); /* Set the color of the full stop to red or any desired color */
  font-size: 3rem; /* Increase the font size of the full stop */
  vertical-align: 0%; /* Align with the middle of the text */
}

.navbar-buttons {
  display: flex; /* Align buttons horizontally */
}

.MuiButton-root {
  font-family: 'cmu_serifroman', serif !important;
  font-weight: bold !important;
  margin-left: 1.5rem; /* Space between buttons */
  text-transform: none !important; /* Remove uppercase transformation */
}

.MuiButton-root:hover {
  color: rgb(255, 153, 0);
  text-decoration: underline !important; /* Add underline on hover to mimic links in LaTeX documents */
  background-color: transparent !important; /* Remove background color change on hover */
}
