.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Flex direction for larger screens (side by side) */
.filter-container {
  flex-direction: row;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    gap: 15px; /* Adjust gap to provide space between stacked filters */
  }
}

.filter-select {
  flex: 1;
}

.react-select-container {
  color: #3b3b3b;
}

.react-select__control {
  border-radius: 4px;
  border-color: #3b3b3b;
}

.react-select__menu {
  border-radius: 4px;
}

.react-select__option--is-focused {
  background-color: orange;
  color: rgb(0, 0, 0);
}

.react-select__option--is-selected {
  background-color: orangered;
  color: #f5f5f5;
}

.selected-chips {
  margin: 20px 0;
}

.chip {
  display: inline-block;
  background-color: orangered;
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}

.chip:hover {
  background-color: orangered;
}

.status-wrapper {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #555;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

.status-wip {
  color: coral;
}

.status-done {
  color: greenyellow;
}

.status-unfinished {
  color: red;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  padding: 20px;
  text-align: left;
  background-color: #3b3b3b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card.has-link:hover {
  background-color: #333;
}

.project-card.has-link:hover h3 {
  color: orange;
  text-decoration: underline;
}

.project-card.has-link:hover {
  transform: scale(1.02);
}

.project-card h3 {
  margin-top: 0;
}

.project-card p {
  text-align: left;
  flex-grow: 1;
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-card .tags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  background-color: orange;
  color: black;
  padding: 5px 10px;
  border-radius: 16px;
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}

.tag.selected {
  background-color: orangered;
  color: #f5f5f5;
  font-weight: bold;
  font-style: normal;
}

.tag:hover {
  background-color: #fdc358;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .project-card {
    padding: 15px;
  }

  .chip {
    font-size: 10px;
  }

  .tag {
    font-size: 12px;
  }

  .selected-chips {
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 10px;
  }

  .chip {
    font-size: 8px;
  }

  .tag {
    font-size: 10px;
  }

  .selected-chips {
    margin: 10px 0;
  }
}
